<div id='saved' style="display:none; background:yellow; text-align:center"><div style="font-weight:bold; padding:10px; font-size:150%;">Reponse Saved</div></div>

<div id='question'>
  <%= render :partial => 'ask' %>
</div>
