<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Thanks</title>
  </head>
  <body>
	  <p>Thanks for the help!</p>
	  <p>Your final score was <%= session['total_score'] %>.  Tell the world!...specially since I didn't bother to code a leaderboard :P.  Thus bragging is left up to you.</p>
  </body>
</html>
